#to install :  pip install -r requirements.txt

####### requirements.txt #######
#
###### Requirements without Version Specifiers ######
html5lib
lxml
Requests
beautifulsoup4
python-twitter
timestring
pymongo
APScheduler==3.0.0
facebook-sdk
mechanize
#
